<%- include("templates/cabecera.ejs")%>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/tarjeta.css">

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="imagen/img1.jpg" class="banner_img">
            </div>
            <div class="carousel-item">
                <img src="imagen/java.png" class="banner_img">
            </div>
            <div class="carousel-item">
                <img src="imagen/img2.jpg" class="banner_img">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <div class="container"> <br>
        <div style="color: rgb(11, 107, 197);" class="text-center">
            <h2>BIENVENIDO AL INSTITUTO DE TECNOLOGIA MAJAN</h2>
        </div>
        <div class="row">
            Formamos jóvenes profesionales de éxito con más de 41 años de experiencia nos posicionamos como uno de los
            mejores institutos de educación en el Perú.
            Dar a todos los peruanos acceso a una educación superior de calidad, que les permita alcanzar una vida
            mejor.
            Ser la primera opción para los estudiantes con afán de superación que contribuyan a un Perú mejor.
            Hoy contamos con 7 campus en Lima, Piura y Chiclayo con más de 13 mil alumnos y una oferta académica que
            brinda 12 carreras profesionales técnicas, 3 carreras para gente que trabaja y cursos de formación continua.
        </div>
        <br>

        <div class="row">
            <div class="colum col-md-6">
                <br>
                <h2 style="color:rgb(11, 107, 197)">¿QUÉ ES COMPUTACIÓN E INFORMÁTICA? </h2>
                <br>
                La Computación es la disciplina que se encarga del estudio de las computadoras, abarcando su diseño,
                desarrollo y
                procesamiento (hardware), mientas que la Informática recoge y ordena los datos convirtiéndolos en
                información
                sencilla (software).

                Estudiando nuestra carrera podrás culminar tus estudios en menor tiempo y acceder a la convalidación que
                te
                permitirá obtener un título universitario en UPC, UPN, ESAN y La Salle.
            </div>
            <div class="colum col-md-6">
                <br>
                <br>
                <img src="imagen/im1.jpg" class="img">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="colum col md-6">
                <h2 style="color:rgb(11, 107, 197)">CERTIFICACIONES</h2>
                <br>
                Como profesional de la carrera Computación e Informática podrás obtener los siguientes certificados:
                • Fundamentos de Programación y TI
                • Desarrollo de Software y Gestión de Datos
                • Gestión de Aplicaciones Multiplataforma
            </div>
            <div class="colum col md-6">
                <h2 style="color:rgb(11, 107, 197)">¿DÓNDE ESTUDIAR COMPUTACIÓN E INFORMÁTICA?</h2>
                Además de contar con la modalidad de clases online, podrás estudiar de forma semi presencial en nuestras
                sedes de Independencia, Breña, Bellavista, San Juan, Lima Centro, Trujillo y Arequipa.
            </div>
        </div>
        <br><br>




        <div class="fondo-tarjetas text-center">
            <div class="text-tarjeta">
                <h1 style="color:rgb(11, 107, 197)"><b>CURSOS</b> </h1><br>

            </div>
            <div class="row">
                <div class="colum col-md-4">
                    <div class="tarjeta">
                        <img src="imagen/spring.jpg" alt="" class="img-tarjeta">
                        <div class="cont-tarjeta">
                            <h4>DESARROLLO AVANZADO DE APLICACIONES</h4>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4">

                    <div class="tarjeta">
                        <img src="imagen/html.png" alt="" class="img-tarjeta">
                        <div class="cont-tarjeta">
                            <h4>DESARROLLO WEB</h4>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4">
                    <div class="tarjeta">
                        <img src="imagen/fundamentos-programacion-bases-datos.jpg" alt="" class="img-tarjeta">
                        <div class="cont-tarjeta">
                            <h4>FUNDAMENTOS DE PROGRAMACION</h4>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4">
                    <div class="tarjeta">
                        <img src="imagen/iot-1-1024x678-e1565082335873.jpg" alt="" class="img-tarjeta">
                        <div class="cont-tarjeta">
                            <h4>INTERNET DE LAS COSAS</H4>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4">
                    <div class="tarjeta">
                        <img src="imagen/descargar.jpg" alt="" class="img-tarjeta">
                        <div class="cont-tarjeta">
                            <h4>HERRAMIENTA DE PROGRAMACION</h4>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4">
                    <div class="tarjeta">
                        <img src="imagen/descargar (1).jpg" alt="" class="img-tarjeta">
                        <div class="cont-tarjeta">
                            <h4>ARQUITECTURA DE SISTEMA DE LA INFORMACION</H4>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4">
                    <div class="tarjeta">
                        <img src="imagen/ol.jpg" alt="" class="img-fluid">
                        <div class="cont-tarjeta">
                            <h4>SOPORTE DE SOFTWARE Y HARDWARE</H4>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4">
                    <div class="tarjeta">
                        <img src="imagen/ofimatica.jpg" alt="" class="img-tarjeta">
                        <div class="cont-tarjeta">
                            <h4>OFIMATICA PARA LAS TICS</H4>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4">
                    <div class="tarjeta">
                        <img src="imagen/m1.jpg" alt="" class="img-tarjeta">
                        <div class="cont-tarjeta">
                            <h4>METODOLOGIA AGIL</H4>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="colum col md-6  text-center">
                <h2 style="color:rgb(11, 107, 197)">NUESTROS SOCIOS ESTRATEGICOS</h2>
                <br>
                <div class="row">
                    <div class="col-md-4"><img src="imagen/stanford.png" alt="" class="img-fluid mx-auto d-block"></div>
                    <div class="col-md-4"><img src="imagen/oxford.png" alt="" class="img-fluid mx-auto d-block"></div>
                    <div class="col-md-4"><img src="imagen/harvard.jpg" alt="" class="img-fluid mx-auto d-block"></div>
                </div>
                <br><br>
            </div>
            <div class=" text-center">
                <h2 style="color:rgb(11, 107, 197)">NUESTRA UBICACION</h2>
                <div class="container-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.657503254429!2d-77.03805808561766!3d-12.067069945563011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8eb0edb5f57%3A0x752ff7f8d4c70bf5!2sAvenida%20Du%20315%2C%20Cercado%20de%20Lima%2015046!5e0!3m2!1ses-419!2spe!4v1655227879569!5m2!1ses-419!2spe"
                        width="1000" height="700" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div></div>
        <%- include("templates/footer.ejs")%>