<%- include("templates/cabecera.ejs")%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Proyecto de Ventas</h1>
        <h2>CRUD DataBase NoSQL</h2>
        <h3>MongoDB</h3>
    </div>
</div>